<%inherit file="/layout.html"/>

<%
    route = result
    distance = route.distance
    total_mi = distance['miles']
    total_km = distance['kilometers']
    start = route.start
    end = route.end
    directions = route.directions
    linestring = route.linestring
    s_addr = h.literal(start.address)#.as_string('<br>'))
    e_addr = h.literal(end.address)#.as_string('<br>'))
    s_addr_one_line = start.address#.as_string(', ')
    e_addr_one_line = end.address#.as_string(', ')
    s_href = request.resource_url('do_lookup', query={'q': q, 'q_id': start.id})
    e_href = request.resource_url('do_lookup', query={'q': q, 'q_id': end.id})
    s_point = '{0.x},{0.y}'.format(start.lat_long)
    e_point = '{0.x},{0.y}'.format(end.lat_long)
    reverse_directions_href = request.resource_url('find_route', query={
        's': e_addr_one_line, 's_id': end.id, 's_point': e_point,
        'e': s_addr_one_line, 'e_id': start.id, 'e_point': s_point,
    })
    reverse_directions_onclick = (
        "byCycle.UI.reverseDirections({{"
            "s: '{e_addr}', s_id: '{end.id}', s_point: '{e_point}', "
            "e: '{s_addr}', e_id: '{start.id}', e_point: '{s_point}'"
        "}});"
        "return false;"
        .format(
            start=start, end=end,
            s_addr=s_addr_one_line, e_addr=e_addr_one_line,
            s_point=s_point, e_point=e_point
        )
    )
    set_center_onclick = 'byCycle.UI.map.getView().setCenter([{x}, {y}]); return false;'
    tab = h.literal('&nbsp;' * 4)
%>

<div>
    <div class="start">
        <a href="${s_href}"
           title="Start of route"
           onclick="${set_center_onclick.format(x=start.point.x, y=start.point.y)}; return false;"
           >${s_addr}</a>
    </div>

    <div class="end">
        <a href="${e_href}"
           title="End of route"
           onclick="${set_center_onclick.format(x=end.point.x, y=end.point.y)}; return false;"
           >${e_addr}</a>
    </div>

    <div class="total-distance">
        ${'%.2f' % total_mi} miles / ${'%.2f' % total_km} km
    </div>

    <div class="noprint reverse-directions">
        <a href="${reverse_directions_href}"
           onclick="${reverse_directions_onclick}">Reverse Directions</a>
    </div>

    <div class="directions">
        % for d in directions:
            <%
                turn = d['turn']
                street = d['street']
                toward = d['toward']
                point = linestring.coords[d['linestring_index']]
                if turn == 'straight':
                    turn = 'continue'
                    street = street[1]
                ## XXX: WTF is this next line doing?
                street = ' - '.join([s.strip() for s in street.split('-') if s])
                if loop.first and toward:
                    street = '{} toward {}'.format(street, toward)
                ls_index = d['linestring_index']
                distance = d['distance']
                mi = '%.2f' % distance['miles']
                km = '%.2f' % distance['kilometers']
                row_class = loop.cycle('a', 'b')
            %>
            <div class="direction ${row_class}">
                <span class="count">
                    <a href="#"
                       onclick="${set_center_onclick.format(x=point[0], y=point[1])}"
                       >${loop.index + 1}</a>
                </span>
                -
                <span class="turn">${turn.title()}</span>
                -
                <span class="direction">${street}</span>
                -
                <span class="segment_distance">${mi} mi</span>
                % if d['jogs']:
                    <div class="jogs">
                        ${tab} Jogs...
                        % for j in d['jogs']:
                            <br/>${tab}${tab}&middot; <i>${j['turn']}</i> at ${j['street']}
                        % endfor
                    </div>
                % endif
            </div>
        % endfor

        <div class="direction ${'a' if row_class == 'b' else 'b'}">
            <span class="count">
                <a href="#"
                   onclick="${set_center_onclick.format(x=end.point.x, y=end.point.y)}"
                   >${len(directions) + 1}</a>
            </span>
            -
            <span class="turn">End</span>
            -
            <span class="direction">${str(end.address).split('\n')[0]}</span>
        </div>
    </div>
</div>
