@import url("bootstrap.css");
@import url("ol.css");


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  color: #333;
}

a {
  color: #3987c9;
}
a:hover {
  color: orange;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 34px;
  margin: 0;
  padding: 0;
  height: 34px;
}

#logo a {
  display: block;
  color: #333;
  text-decoration: none;
}

#top-row {
  padding: 10px 0;
  border-bottom: 1px solid #3987c9;
}

#status-container {
  display: none;
}

#spinner {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  margin: 1px 16px 0 0;
  padding: 0;
}

/* Results */

#col-a {
  overflow: auto;
}
#old-news {
  display: none;
}
.disclaimer {
  font-size: 85%;
  font-style: italic;
  color: #666;
}


/* Map */

#col-b {
  padding: 0;
}
#map-context-menu {
  position: absolute;
  display: none;
}
#map-context-menu ul {
  display: block;
}
#map-pane {
  background-color: #3987c9;
  height: 100%;
}
#map-pane .popover {
  width: 300px;
}
#map-layer-switcher {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
#map-layer-switcher select {
    background-color: rgba(0, 60, 136, 0.5);
    color: #fff;
    font-weight: bold;
}
#map-layer-switcher select:hover {
    background-color: rgba(0, 60, 136, .7);
}
#map-layer-switcher select option {
    background-color: #fff;
    color: #373737;
    font-weight: normal;
}
.marker {
  cursor: pointer;
}
.marker span {
  font-size: 24px;
}
.start-marker {
  color: green;
}
.end-marker {
  color: red;
}
.info_win {
  width: 250px;
}


/* Route Summary & Directions */
div.start,
div.end,
div.total-distance,
div.reverse-directions,
div.directions div {
  border-bottom: 1px solid #99b3cc;
  padding: 2px;
}
div.start a {
  color: green;
}
div.end a {
  color: red;
}
div.directions div.direction div.jogs {
  border-bottom: none;
}
div.a { background: #ddd; }
div.b { background: #fff; }
span.count { text-align: right; }
span.turn { font-weight: bold; }
span.segment_distance { font-style: italic; }
