html, body {
  overflow: visible;
}
html, body, #col-a, #col-b, #results, #map-pane {
  padding: 0;
  margin: 0;
  width: 100%;
}
#col-a, #col-b {
  float: none;
}
#results, #map-pane {
  height: auto;
}
.gmnoprint, .noprint {
  display: none;
}

