<%def name="show_result(result, hide_links=False)">
  <%
    q_point = '{0.x},{0.y}'.format(result.lat_long)
    href = request.resource_url('do_lookup', query={'q': q, 'q_id': result.id, 'q_point': q_point})
    onclick = 'byCycle.UI.map.getView().setCenter([{0.x}, {0.y}]); return false;'.format(result.point)
    html_addr = h.literal(result.address)#.as_string('<br>'))
    get_directions_href = (
        "byCycle.UI.getDirections{{}}('{addr}', '{id}', '{q_point}'); "
        "return false;"
    ).format(addr=result.address, id=result.id, q_point=q_point)
  %>

  <div class="panel">
    <div class="panel-body">
      <div>
        <a class="show-location-on-map select-location"
           href="${href}"
           title="Select this location"
           onclick="${onclick}"
           >${html_addr}</a>

        <a class="pull-right glyphicon glyphicon-map-marker"
           href="${href}"
           title="Show this location on the map"
           onclick="${onclick}"
           ></a>
      </div>

      <div class="set-as-s-or-e" ${h.hide_element_if(hide_links)}>
        Get directions
        <a class="set-as-start"
           href="#set-as-start"
           title="Get directions from this address"
           onclick="${get_directions_href.format('From')}"
           >from</a>
        or
        <a class="set-as-end"
           href="#set-as-end"
           title="Get directions to this address"
           onclick="${get_directions_href.format('To')}"
           >to</a>
      </div>
    </div>
  </div>
</%def>
