<h2>News</h2>

<div id="news">
  <div class="news-item">
    <p><small><em>February 13th, 2014</em></small></p>
    <p>byCycle is back! (pt. ii)</p>
    <p>
      The site has been rebuilt on top of a
      <a href="http://tangledframework.org/">new framework</a> and deployed to
      a <a href="https://www.digitalocean.com/?refcode=508c7e910a34"
         >new server</a>. Under the hood, all supporting libraries have been
      upgraded or replaced with modern equivalents (Python 3, jQuery 2,
      Bootstrap 3, &c).
    </p>
    <p>
      In addition, <a href="http://www.openstreetmap.org/">OpenStreetMap</a>
      is now being used with <a href="http://openlayers.org/">OpenLayers</a> to
      display maps (replacing Google Maps).
    </p>
    <p>
      The plan moving forward is to continuing making improvements. A few
      things planned in particular are:
      <ul>
        <li>
          Use OpenStreetMap data for routing (currently, byCycle is using an
          old copy of data obtained from
          <a href="http://oregonmetro.gov/">Metro</a>).
        </li>
        <li>
          Improve address lookup by using OpenStreetMap data and tools.
        </li>
        <li>
          Display Metro's
          <a href="http://www.oregonmetro.gov/index.cfm/go/by.web/id=218"
             >regional bike routes</a> on the map.
        </li>
      </ul>
    </p>
    <p>
      <b>Want to help?</b> If you're a developer, you can
      <a href="https://bitbucket.org/bycycle/bycycle.tripplanner"
         >get the code here</a>. If you want to help in some other way, please
      <a href="mailto:contact@bycycle.org">get in touch</a>.
    </p>
  </div>

  <p><a id="old-news-link" href="#old-news">Old news</a></p>
</div>

<div id="old-news">
  <div class="news-item">
    <p><small><em>December 1, 2012</em></small></p>
    <p>byCycle is back!</p>
    <p>
      This is classic byCycle from 2007--almost nothing has been updated, the
      underlying data is a bit out of date, and the user interface is a bit
      clunky. I'm considering whether it's worth fixing any of this stuff... I
      guess it will depend on whether there's enough interest in the site.
    </p>
    <p>
      As usual, any feedback is appreciated.
      <a href="${settings['contact_url']}"
         >Add a comment on the contact page</a>
      or send email to
      <a href="mailto:contact@bycycle.org">contact@bycycle.org</a>.
      And if you want to get involved (there's plenty to do!),
      <a href="${settings['project_url']}"
         >the source code is now on Bitbucket</a>.
    </p>
  </div>

  <div class="news-item">
    <p><small><em>July 6, 2011</em></small></p>
    <p>
      Site offline due to hardware failure.
    </p>
  </div>

  <div class="news-item">
    <p><small><em>June 12, 2010</em></small></p>
    <p>
      The bike map data for Portland was updated and should now more closely
      match Metro's latest
      <a href="http://www.oregonmetro.gov/index.cfm/go/by.web/id=218"
         >Bike There! map</a>.
    </p>
  </div>

  <div class="news-item">
    <p><small><em>January 18, 2010</em></small></p>
    <p>
      This site is unmaintained. The last significant changes were made in
      <strong>May of 2007</strong> (although several data updates for the
      Portland region have been made since then).
    </p>
    <p>
      <a href="${settings['project_url']}">The code</a> is open source (GPLv3).
    </p>
  </div>
</div>
